@use '@styles/fonts';
@use '@styles/theme' as *;

.home {
  .hello-text {
    font-size: 15vw;
    font-family: fonts.$roboto-flex;
    pointer-events: none;
    user-select: none;

    @include themed {
      color: t('font-main');
    }

    &__kamoji {
      @include themed {
        color: t('accent');
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;

    .happy-animation {
      pointer-events: none;
    }
  }
}
